<html>
  <head>
	<style>
	  .hidden {display: none;}
	</style>
	<title>Flask Chat</title>
  </head>
  <body>
	<div id="root">
	  <div class="message-holder" id="message_holder"></div>
	  <div class="form-container">
		<form action="" method="POST">
		  <select name="username" id="username">
		  </select>
		  <input type="text" name="message_text" id="message_text" placeholder="Enter message..." />
		  <input type="hidden" name="question_id" id="question_id" />
		  <div class="btn-group" id="default_btn_group">
			<button type="submit">Send Message</button>
			<button type="button" id="ask_question_btn">Ask Question</button>
		  </div>
		  <div class="btn-group hidden" id="answering_btn_group">
			<button type="button" id="answer_question_btn">Answer</button>
			<button type="button" id="cancel_answering_btn">Cancel</button>
		  </div>
		</form>
	  </div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
	<script src="../assets/js/app.js"></script>
  </body>
</html>
